<h1>List of directors</h1>

<% Director.all.each do |a_director| %>
<li>
<%= a_director.name %> <%= (a_director.dob) %>
</li>
<% end %>

<table border=1>
<tr>
<th>ID</th>
<th>Image</th>
<th>Name</th>
<th>Dob</th>
<th></th>
</tr>

<% Director.all.each do |a_director| %>
<tr>
<td><%= a_director.id %></td>
<td><img src="<%= a_director.image %>" width = 100 alt="Photo of <%= a_director.name %>"></td>
<td><%= a_director.name %></td>
<td><%= a_director.dob %></td>
<td><a href="/<%= a_director.id%>">Show details</a></td>
</tr>
<% end %>

</table>
